.navbar-default {
  // background: rgba(238, 238, 238, .5);

  .navbar-header {
    img {
      width: 100px;
      height: 40px;
      margin: auto;
    }
  }

  .container-fluid {
    .container {
      margin: auto;
    }
  }

  .navbar-right {
    span {
      margin-right: 5px;
    }
  }
}

.item {
  display: inline-block;
}

nav.pagination {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.float-left {
  margin-right: 20px;
}

.productInfo {
  h4 {
    margin-bottom: 0px;
    display: inline-block;
  }
}

.searchBar {
  margin-bottom: 50px;

  #search_term {
    margin-right: 10px;
  }
}
