h1 Products

= render 'common/searchBar', local: { path: show_all_path }

= render 'showProducts', collection: @products || 'No products'

= will_paginate @collection, class: 'pagination', renderer: BootstrapPagination::Rails
